
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px white solid; */
    font-family:Roboto;
}

body {
    background-image: linear-gradient(to right,rgb(1, 1, 211),rgb(0, 136, 255),rgb(1, 1, 211));
    background-position: center;
    background-size: cover;
    color: white;
    
}

/* .earth{
    background-image: url('/images/EarthImage(2).jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 20vh;
} */

.head{
    padding: 2rem;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

.title {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: yellow;
}

.sub-title{
    padding: 1rem;
    font-size: 2.2rem;
    /* font-weight: 500; */
}

p{
    padding: 1rem;
    color: rgba(255, 255, 255, 0.664);
    font-size: large;
}

p span{
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.1rem 0.3rem;
}

p span a{
    color: white;
    text-decoration: none;
}

.city{
    padding: 1rem;
}

select{
    width: 40vw;
    padding: 0.3rem;
    text-align: start;
}

img{
    width: 100%;
}


.cloudline{
    
}

.hidden{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: row; */
    gap: 10px;
    height: 200px;
    width: 100%;
    flex-flow: wrap;
}

.item{
    background-color: rgba(0, 0, 0, 0.666);
    width: 150px;
    height: 100%;
    /* margin: 0.5rem; */
}