
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px white solid; */
    font-family:Roboto;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right,rgb(1, 1, 211),rgb(0, 136, 255),rgb(1, 1, 211));
    /* (to right,rgba(0, 0, 0, 0.28),rgba(79, 72, 72, 0.24), rgba(0, 0, 0, 0.314)), url('/images/India.jpg'); */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    /* margin: 3rem; */
}

/* .earth{
    background-image: url('/images/EarthImage(2).jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 20vh;
} */

.head{
    padding: 2rem;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

.title {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: yellow;
}

.sub-title{
    padding: 1rem;
    font-size: 2.2rem;
    /* font-weight: 500; */
}

p{
    padding: 1rem;
    color: rgba(255, 255, 255, 0.664);
    font-size: large;
}

p span{
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.1rem 0.3rem;
}

p span a{
    color: white;
    text-decoration: none;
}

.city{
    padding: 1rem;
}

select{
    width: 40vw;
    padding: 0.3rem;
    text-align: start;
    font-size: medium;
    word-wrap: normal;
    overflow: auto;
}

/* .appear {
    border: 1px solid red;
} */

.hidden{
    /* border: 2px black solid; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    flex-flow: wrap;
    overflow: auto;
}

.item{
    background-color: rgba(0, 0, 0, 0.666);
    margin: 0.5rem;
    flex: 1;
    flex-basis: calc(20% - 30px); /* Adjust the width based on the number of items you have */
    max-width: 300px; /* Optional: Set a maximum width for each item */
}

/* .item {
    background-color: rgba(0, 0, 0, 0.666);
    width: calc(33.33% - 20px);
    max-width: 300px; 
    margin: 10px; 
} */


.upper {
    height: 50%;
    background-color: rgba(0, 204, 255, 0.827);
    padding: 0.5rem;
}

.lower {
    height: 50%;
}

.timeData {
    padding: 0.2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    color: yellow;
    padding-bottom: 0.6rem ;
    width: 100%;
}



.text p{
    font-weight: 500;
    font-size: small;
    white-space: nowrap; /*Prevents text from wrapping*/
    overflow: hidden; /*Hides any overflowed content*/
    text-overflow: ellipsis; /*Displays ellipsis (...) when text overflows*/
    color: white;
    text-align: center;
    /* padding: 1rem; */
    /* border: 2px solid orange; */
    height: 75%;
}

.minMax {
    text-align: center;
    padding-top: 1rem;
    font-size: small;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: rgb(193, 188, 188);
    height: 25%;
    /* border: 2px solid red; */
}

footer {
    /* padding: 1rem; */
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 2px 2px 3px black;
    width: 100%;
    /* margin-top: 5rem; */
}

footer div {
    margin-top: 2rem;
    /* margin-bottom: 3rem; */
    /* border:2px solid white; */
    color: rgba(255, 255, 255, 0.698);
    padding-bottom: 5rem;
}

.cloudline{
    margin-left:auto ;
    margin-right:auto ;
    display: block;
    width: 100%;
    transform:scale(0.8);
    height: auto;
}

img:not(.cloudline) {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


